{% extends 'index.html.twig' %}

{% block header %}
    <h2>{{store.getStoreName}}</h2>
    <a href="/">home</a><br><br>
{% endblock %}

{% block content %}

    {% if brands is not empty %}
        {% for brand in brands %}
            <li><a href="/brand/{{brand.getId}}"></a> {{brand.getBrandName}}</li>
        {% endfor %}
    {% endif %}

{% endblock %}

{% block controls %}
<br><br>

    <form action="/add/brand/{{store.getId}}" method="post">
        <label for="new_brand">Add a new brand to the {{store.getStoreName}}</label>
        <input type="text" name="new_brand" placeholder="new brand" required>
        <button type="submit" name="button">Add</button>
    </form>

<br><br>

    <form action="/patch/store/{{store.getId}}" method="post">
        <input name="_method" type="hidden" value="patch">
        <label for="new_store_name">Did the {{store.getStoreName}}'s name change? Help us keep up-to-date. Thanks!</label>
        <input type="text" name="new_store_name" value="{{store.getStoreName}}" required>
        <button type="submit" name="button">update</button>
    </form>

<br><br>

    <form action="/delete/store/{{store.getId}}" method="post">
        <input name="_method" type="hidden" value="delete">
        <label for="delete_store">Did {{store.getStoreName}}'s close? If so then go ahead and delete it. Thanks!</label>
        <button type="submit" name="button">Bye bye, {{store.getStoreName}}</button>
    </form>
{% endblock %}
